.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 80%;
    background-color: aqua;
    padding: 20px 20px;
    border-radius: 4px;
}
.form .form--title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.paging {
    position: absolute;
    right: 120px;
    bottom: 40px;
}
